## Per i 5 titoli più visti raccolgo i dati relativi alla popolarità nel corso di Dicembre, Gennaio, Febbraio e Marzo.

Le 5 serie più viste sono: Bridgerton, The Queen's Gambit (La regina degli scacchi), Lupin, Ginny and Georgia e New amsterdam.

In [1]:
import pandas as pd

In [2]:
diz = {'Titolo' : ['Bridgerton', "The Queen's Gambit", 'Lupin', 'Ginny & Georgia', 'New Amsterdam'], 
       'Indice_generale' :  [0.400826, 0.310744, 0.281818, 0.259504, 0.216529],
       'Indice_tipo' : [0.462810, 0.432231, 0.340496, 0.266942, 0.247934]}

top5 = pd.DataFrame(data = diz)

In [3]:
top5['Popolarita'] = top5['Indice_generale'] + top5['Indice_tipo']

In [4]:
top5

               Titolo  Indice_generale  Indice_tipo  Popolarita
0          Bridgerton         0.400826     0.462810    0.863636
1  The Queen's Gambit         0.310744     0.432231    0.742975
2               Lupin         0.281818     0.340496    0.622314
3     Ginny & Georgia         0.259504     0.266942    0.526446
4       New Amsterdam         0.216529     0.247934    0.464463

### Leggo il dataset di flixpatrol

In [5]:
netflix = pd.read_csv("Variety/Data_flixpatrol/Dati_netflix_dicembre-aprile/netflix_dic-mar2021.csv", index_col = 0)

In [6]:
len(netflix)

3630

Divido il dataset netflix in __quattro dataset__ separati per i quattro mesi di Dicembre, Gennaio, Febbraio e Marzo.

In [7]:
# Dicembre

dic = netflix.iloc[:930].copy()  # di dimensione 30*31 = 930 righe

In [8]:
# Gennaio

genn = netflix.iloc[930:1860].copy() # di dimensioni 30*31 righe

In [9]:
# Febbraio

febb = netflix.iloc[1860: 2700].copy()

In [10]:
# Marzo

mar = netflix.iloc[2700:].copy()

Nella colonna __set__ abbiamo:
* 1 = classifica generale (result, il posto sul podio delle top 10, compreso tra 1 e 10)
* 2 = classifica film (result compreso tra 11 e 20)
* 3 = classifica serie tv (result compreso tra 21 e 30)

La colonna __ranking__ dà proprio il posto sul podio.

## Calcolo i due indici di popolarità per tutta la lista e per tutti i mesi.

__Osservazione :__ tutti e cinque i titoli sono serie tv.

In [11]:
netflix.iloc[0]['name']

'The Queen&#39;s Gambit'

In [12]:
l = ['Bridgerton', 'The Queen&#39;s Gambit', 'Lupin', 'Ginny & Georgia', 'New Amsterdam']

In [13]:
dati = {'Titolo' : ['Bridgerton', "The Queen's Gambit", 'Lupin', 'Ginny & Georgia', 'New Amsterdam'],
        'Premiere' : ['25.12.2020', '23.10.2020', '8.1.20201', '24.2.2021', 'Febbraio 2021'],
        'Indice gen dicembre' : [], 'Indice tipo dicembre' : [],
        'Indice gen gennaio' : [], 'Indice tipo gennaio' : [],
        'Indice gen febbraio' : [], 'Indice tipo febbraio' : [],
        'Indice gen marzo' : [], 'Indice tipo marzo' : []}

Dicembre:

In [14]:
num_giorni = 31 # per dicembre

In [15]:
# Calcolo indice generale e indice tipo di DICEMBRE per tutti e 5 i titoli

for i in range(len(l)):
    
    # Questo df ha per ogni riga un giorno in cui il titolo l[i] è stato in una delle due classifiche
    df = dic[dic['name'] == l[i]].copy() 

    # Calcolo indice generale di dicembre per il titoli l[i]
    indice = 0
    
    for r in df[df['set'] == 1]['ranking']:
        indice = indice + 10 - (r-1)
    
    indice = indice/(10*num_giorni)
    
    # Metto l'indice appena calcolato nel dizionario (dataframe) con i dati
    dati['Indice gen dicembre'].append(indice)
    
    # Calcolo indice tipo (indice relativo solo alla classifica delle serie tv) per il titolo l[i]  a dicembre
    indice = 0

    for r in df[df['set'] == 3]['ranking']:
        indice = indice + 10 - (r-1)
        
    indice = indice/(10*num_giorni)
    
    # Metto l'indice appena calcolato nel dizionario (dataframe) con i dati
    dati['Indice tipo dicembre'].append(indice)

Gennaio:

In [16]:
# Calcolo indice generale e indice tipo di GENNAIO per tutti e 5 i titoli

num_giorni = 31 # per gennaio

for i in range(len(l)):
    
    # Questo df ha per ogni riga un giorno in cui il titolo l[i] è stato in una delle due classifiche
    df = genn[genn['name'] == l[i]].copy() 

    # Calcolo indice generale per il titoli l[i]
    indice = 0
    
    for r in df[df['set'] == 1]['ranking']:
        indice = indice + 10 - (r-1)
    
    indice = indice/(10*num_giorni)
    
    # Metto l'indice appena calcolato nel dizionario (dataframe) con i dati
    dati['Indice gen gennaio'].append(indice)
    
    # Calcolo indice tipo (indice relativo solo alla classifica delle serie tv) per il titolo l[i]
    indice = 0

    for r in df[df['set'] == 3]['ranking']:
        indice = indice + 10 - (r-1)
        
    indice = indice/(10*num_giorni)
    
    # Metto l'indice appena calcolato nel dizionario (dataframe) con i dati
    dati['Indice tipo gennaio'].append(indice)

Febbraio:

In [17]:
# Calcolo indice generale e indice tipo di FEBBRAIO per tutti e 5 i titoli

num_giorni = 28 # per febbraio

for i in range(len(l)):
    
    # Questo df ha per ogni riga un giorno in cui il titolo l[i] è stato in una delle due classifiche
    df = febb[febb['name'] == l[i]].copy() 

    # Calcolo indice generale per il titoli l[i]
    indice = 0
    
    for r in df[df['set'] == 1]['ranking']:
        indice = indice + 10 - (r-1)
    
    indice = indice/(10*num_giorni)
    
    # Metto l'indice appena calcolato nel dizionario (dataframe) con i dati
    dati['Indice gen febbraio'].append(indice)
    
    # Calcolo indice tipo (indice relativo solo alla classifica delle serie tv) per il titolo l[i]
    indice = 0

    for r in df[df['set'] == 3]['ranking']:
        indice = indice + 10 - (r-1)
        
    indice = indice/(10*num_giorni)
    
    # Metto l'indice appena calcolato nel dizionario (dataframe) con i dati
    dati['Indice tipo febbraio'].append(indice)

Marzo:

In [18]:
# Calcolo indice generale e indice tipo di MARZO per tutti e 5 i titoli

num_giorni = 31 # per marzo

for i in range(len(l)):
    
    # Questo df ha per ogni riga un giorno in cui il titolo l[i] è stato in una delle due classifiche
    df = mar[mar['name'] == l[i]].copy() 

    # Calcolo indice generale per il titoli l[i]
    indice = 0
    
    for r in df[df['set'] == 1]['ranking']:
        indice = indice + 10 - (r-1)
    
    indice = indice/(10*num_giorni)
    
    # Metto l'indice appena calcolato nel dizionario (dataframe) con i dati
    dati['Indice gen marzo'].append(indice)
    
    # Calcolo indice tipo (indice relativo solo alla classifica delle serie tv) per il titolo l[i]
    indice = 0

    for r in df[df['set'] == 3]['ranking']:
        indice = indice + 10 - (r-1)
        
    indice = indice/(10*num_giorni)
    
    # Metto l'indice appena calcolato nel dizionario (dataframe) con i dati
    dati['Indice tipo marzo'].append(indice)

Creazione dataframe:

In [19]:
top5_storiche = pd.DataFrame(data = dati)

In [20]:
top5_storiche

,Titolo,Premiere,Indice gen dicembre,Indice tipo dicembre,Indice gen gennaio,Indice tipo gennaio,Indice gen febbraio,Indice tipo febbraio,Indice gen marzo,Indice tipo marzo
0,Bridgerton,25.12.2020,0.187097,0.193548,0.883871,0.896774,0.539286,0.710714,0.006452,0.074194
1,The Queen's Gambit,23.10.2020,0.796774,0.906452,0.409677,0.593548,0.007143,0.207143,0.000000,0.000000
2,Lupin,8.1.20201,0.000000,0.000000,0.706452,0.712903,0.432143,0.639286,0.003226,0.038710
3,Ginny & Georgia,24.2.2021,0.000000,0.000000,0.000000,0.000000,0.114286,0.114286,0.909677,0.938710
4,New Amsterdam,Febbraio 2021,0.000000,0.000000,0.000000,0.000000,0.239286,0.267857,0.629032,0.725806

Aggiungo colonne con indice di popolarità.

In [21]:
top5_storiche['Indice popolarità dicembre'] = top5_storiche['Indice gen dicembre'] + top5_storiche['Indice tipo dicembre']
top5_storiche['Indice popolarità gennaio'] = top5_storiche['Indice gen gennaio'] + top5_storiche['Indice tipo gennaio']
top5_storiche['Indice popolarità febbraio'] = top5_storiche['Indice gen febbraio'] + top5_storiche['Indice tipo febbraio']
top5_storiche['Indice popolarità marzo'] = top5_storiche['Indice gen marzo'] + top5_storiche['Indice tipo marzo']

top5_storiche[['Titolo', 'Premiere', 
               'Indice gen dicembre', 'Indice tipo dicembre', 'Indice popolarità dicembre',
               'Indice gen gennaio', 'Indice tipo gennaio', 'Indice popolarità gennaio', 
               'Indice gen febbraio', 'Indice tipo febbraio', 'Indice popolarità febbraio',
               'Indice gen marzo', 'Indice tipo marzo', 'Indice popolarità marzo']]

,Titolo,Premiere,Indice gen dicembre,Indice tipo dicembre,Indice popolarità dicembre,Indice gen gennaio,Indice tipo gennaio,Indice popolarità gennaio,Indice gen febbraio,Indice tipo febbraio,Indice popolarità febbraio,Indice gen marzo,Indice tipo marzo,Indice popolarità marzo
0,Bridgerton,25.12.2020,0.187097,0.193548,0.380645,0.883871,0.896774,1.780645,0.539286,0.710714,1.250000,0.006452,0.074194,0.080645
1,The Queen's Gambit,23.10.2020,0.796774,0.906452,1.703226,0.409677,0.593548,1.003226,0.007143,0.207143,0.214286,0.000000,0.000000,0.000000
2,Lupin,8.1.20201,0.000000,0.000000,0.000000,0.706452,0.712903,1.419355,0.432143,0.639286,1.071429,0.003226,0.038710,0.041935
3,Ginny & Georgia,24.2.2021,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.114286,0.114286,0.228571,0.909677,0.938710,1.848387
4,New Amsterdam,Febbraio 2021,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.239286,0.267857,0.507143,0.629032,0.725806,1.354839

Esporto i dati in file csv

In [22]:
top5_storiche.to_csv("top5_storiche.csv")